body {
  font-family: '__Inter_179fbf','__Inter_Fallback_179fbf',Cabin,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Inter;
  font-size: 12pt; /* standard size for academic papers */
  line-height: 1.6; /* for readability */
  color: #333; /* softer on the eyes than black */
  background-color: #fff; /* white background */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: '__Inter_179fbf','__Inter_Fallback_179fbf',Cabin,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Inter;
  color: #000; /* darker than the body text */
  margin-top: 1em; /* space above headers */
}

h1 {
  font-size: 2em; /* make h1 twice the size of the body text */
}

h2 {
  font-size: 1.5em;
}

/* Add some space between paragraphs */
p {
  margin-bottom: 1em;
}

/* Style for blockquotes, often used in academic papers */
blockquote {
  font-style: italic;
  margin: 1em 0;
  padding: 1em;
  background-color: #f9f9f9; /* a light grey background */
}

/* Styles for tables */
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: black;
}