
.cursorrules
.docusaurus
.DS_Store
.env
.envrc
.history
.idea
.langgraph-data/
.mypy_cache/
.next/
.venv
.venv/
.vscode/launch.json
*.lock
*.log
*.orig
*.swp
**/__pycache__/
**/.history
**/.history/
# Log files
# Other Environments
#Cursor Rules
#Ignore env containing secrets
#Ignore generated outputs
#Ignore my local docs
#Ignore mypy cache
#Ignore pycache
#Ignore Virtual Env
#Vim swp files
all_models.json
build
CURSOR_RULES.md
dist/
docs/build
env.bak/
env/
ENV/
gpt_researcher_desktop/resources/extra_themes
gpt_researcher_desktop/widgets/theme_dialog.py
gpt_researcher.egg-info/
litellm_config_free.yaml
litellm_config.yaml
litellm_documentation
logs/
my-docs/
node_modules
outputs/
package-lock.json
server_log.txt
tmp/
venv.bak/
venv/