# dependencies
asyncio
beautifulsoup4
colorama
duckduckgo_search
md2pdf
playwright
openai
python-dotenv
pyyaml
selenium
webdriver-manager
uvicorn
pydantic
fastapi
python-multipart
markdown
langchain
tavily-python
arxiv
PyMuPDF
requests
jinja2
aiofiles