accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-cors
aiolimiter
aiosignal
alembic
annotated-types
anthropic
anyio
arrow
arxiv
asgiref
async-timeout
attrs
authlib
azure-ai-inference
azure-core
backoff
beautifulsoup4
bidict
binaryornot
bitsandbytes
black
blinker
boilerpy3
boto3
botocore
briefcase
brotli
browser-cookie3
bs4
build
cachetools
cairocffi
cairosvg
certifi
cffi
chardet
charset-normalizer
chonkie
chromadb
click
clr-loader
cohere
colorama
colorlog
cookiecutter
cron-descriptor
cryptography
cssselect2
cutelog
dashscope
dataclasses-json
datasets
dateparser
defusedxml
distro
django-apscheduler
django-phonenumber-field
django-unfold
dnspython
docopt
docstring-parser
docx2txt
duckdb
duckduckgo-search
eel
einops
email-validator
emoji
eval-type-backport
exa-py
factory-boy
fastavro
feedparser
filelock
filetype
fireworks-ai
flask-cors
flask-socketio
fonttools
freezegun
frozenlist
fsspec
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
googlesearch-python
goose3
gradio
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
hnswlib
html2text
html5lib
htmldocx
httpcore
httplib2
httptools
httpx
httpx-sse
httpx-ws
huggingface-hub
idna
importlib-metadata
iniconfig
inquirer
instructor
isodate
itsdangerous
jinja2
jiter
jmespath
joblib
json-repair
json5
jsonlines
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jsonstream
keyboard
langdetect
litellm
llama-cpp-python
llama-index
llama-index-llms-azure-openai
llama-index-llms-groq
llama-index-llms-litellm
llama-index-llms-ollama
llama-index-llms-openai
logfire
loguru
lxml
lxml-html-clean
lz4
magika
markdown
markdown-it-py
markdown2
markdownify
marshmallow
md2pdf
mdurl
mistune
mmh3
mpmath
msgpack
multidict
mypy
mypy-extensions
narwhals
nest-asyncio
networkx
newspaper3k
nltk
nomic
numpy
oauthlib
olefile
openai
openai-whisper
orjson
outcome
packaging
pandas
parameterized
pdfkit
pgvector
phonenumbers
pillow
platformdirs
pluggy
pre-commit
primp
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pyaudio
pycparser
pycryptodomex
pydantic
pydantic-core
pydantic-settings
pydeck
pydyf
pygments
pyjson5
pyjwt
pymupdf
pynacl
pyparsing
pypdf
pyphen
pyproject-hooks
pysocks
pytest
pytest-asyncio
pytest-django
pytest-xdist[psutil]
python-dateutil
python-dotenv
python-docx
python-engineio
python-iso639
python-magic
python-multipart
python-oxmsg
python-slugify
python-socketio
pythonnet; sys-platform == 'win32'
pyttsx3
pytz
pywin32; sys-platform == 'win32'
pyyaml
qdrant-client
rake-nltk
rapidocr-onnxruntime
readchar
redis
referencing
regex
requests
resend
rpds-py
rq
rsa
ruff
s3transfer
safetensors
schedule
scholarly
scikit-learn
scipy
scrapy
selenium
semantic-chunkers
semantic-router
sentence-transformers
sgmllib3k
shadowcopy
shapely
simple-websocket
six
slowapi
smmap
sniffio
sortedcontainers
soupsieve
speechrecognition
sphinx
sphinx-rtd-theme
sqlalchemy
stanfordnlp
stopit
stripe
sympy
tabulate
tavily-python
tenacity
text-unidecode
threadpoolctl
tiktoken
timm
tinycss2
tinyhtml5
tokenizers
toml
tomli-w
torch
tox
tqdm
trafilatura
transformers
trio
trio-websocket
trl
twilio
types-python-dateutil
types-requests
typing-extensions
typing-inspect
tzdata
tzlocal
unstructured
unstructured-client
uritemplate
urllib3
uvicorn
uvloop; sys_platform != 'win32'
voyageai
watchdog
watchfiles
webencodings
websocket-client
websockets
werkzeug
wikipedia
win32-setctime; sys_platform == 'win32'
windows-curses; sys_platform == 'win32'
winloop; sys_platform == 'win32'
wmi
wrapt
wsproto
yarl
zipp
zopfli